body{
	background-color: #f9f9f9;
  font-family: Arial;
  font-size: 12px;
  line-height: 1;
}

#container {
	background-color: #ffffff;
	margin: 100px auto;
	padding: 20px;
	width: 960px;
}

#container a {
	color: #000000;
	text-decoration: none;
	text-transform: uppercase;
}

header {
	height: 60px;
	margin-bottom: 60px;
}

#site_name {
	float: left;
	text-align: center;
}

#site_name .title {
	font-family: Georgia;
	font-size: 36px;
}

#site_name .slogan {
	display: block;
	font-size: 11px;
	text-transform: uppercase;
}

section.content {
  min-height: 500px;
	height: auto !important;	
}

#content {
	overflow: hidden;
	margin-left: -26px;
}

.project {
	width: 200px;
	height: 200px;
	background-color: #000;
	background-position: center center;
	background-repeat: no-repeat;
	display: block;
	margin-bottom: 26px;
	margin-left: 26px;
	border: 10px solid #000;
	float: left;
	overflow: hidden;
}

.project:hover {
	border-color: #666666;
}

.project img {
	position: relative;
	left: 100%;
	margin-left: -200%;
	top: 100%;
	margin-top: -200%;
  min-height: 100%;
	min-width: 100%; 
}

#main-menu {
	float: right;
	list-style: none;
}

#main-menu li a:hover {
	text-decoration: line-through;
}

#footer {
	margin-top: 100px;
}

#social-links {
	float: left;
}

ul.menu {
	border: none;
	list-style: none;
	text-align: left;
}

#social-links ul li {
	display: inline;
	margin: 0;
	padding: 0;
}

#social-links ul li a:hover {
	text-decoration: line-through;
}

#social-links ul li.last {
	margin-left: 8px;
}

#copyright {
	float: right;
}

.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

